{% extends "app/buscar.html" %}
<head>
    </head>
    <body>
    <h1>
    Catalogo de Vehiculos Online
    </h1>
    {% block content %}
    <form action= "insertar-automoviles"  method="POST">
        {% csrf_token %}
        <p>marca: <input type="text" name="marca"></p>
        <p>modelo: <input type="text" name="modelo"></p>
        <p>año_de_fabricacion <input type="text" name="año_de_fabricacion"> </p>
        <p>kilometraje <input type="text" name="kilometraje"> </p>
        <p>link <input type="text" name="link"></p>
        <input type="submit" value="Enviar">
    
        </form>
        {% endblock %}
        </html>